### for_format_list

In [7]:
s = '{}이는 {}번이고 {}대학에 갔어'
pr=s.format('진상',30201,'인하')
print(pr)

진상이는 30201번이고 인하대학에 갔어

In [6]:
s = '{}이는 {}이와 {}를 좋아해'
pr=s.format('진상','승훈','형주')
print(pr)

진상이는 승훈이와 형주를 좋아해

### [문제] 햄버거 1개는 4달라

In [9]:
s = '{} {}개는 {}달라'
pr=s.format('햄버거','1','4')
print(pr)

햄버거 1개는 4달라

In [15]:
food = input('메뉴입력 >>')
num = int(input('개수 입력 >>'))
price = num*4
s = '{} {}개는 {}달라'
pr = s.format(food, num, price)
print(pr)

메뉴입력 >>2
개수 입력 >>3
2 3개는 12달라

In [30]:
menu = list(map(int,input('햄버거 개수와 가격 >>').split()))

햄버거 개수와 가격 >>10 5

In [31]:
type(menu)

list

In [32]:
menu[0], menu[1]

(10, 5)

In [33]:
price = menu[0]*menu[1]
s = '햄버거 {}개는 {}달라'
pr = s.format(menu[0], menu[1])
print(pr)

햄버거 10개는 5달라

In [37]:
stu='%s %d학년 %.2f'
pr=stu%('인천여상',3,32.123)
print(pr)

인천여상 3학년 32.12

In [38]:
juso='      인천시 연수구 동춘동   '

In [40]:
type(juso), len(juso)

(str, 20)

In [47]:
add=juso.strip()

In [45]:
juso

'      인천시 연수구 동춘동   '

In [50]:
add, len(add)

('인천시 연수구 동춘동', 11)

In [52]:
add.split()

['인천시', '연수구', '동춘동']

In [55]:
add.startswith('인천')

True

In [56]:
add.endswith('동춘동')

True

if 조건식 : 
    실행문1
else :
    실행문2

In [57]:
num=10
if num==10 : 
    print('숫자는 10')
else :
    print('10이 아니다')

숫자는 10

In [59]:
num=10
if num%2==0 : 
    print('짝수 ')
else :
    print('홀수')

짝수

### [문제] 숫자 입력받아 짝수(펭수) 인지 홀수(워크맨) 인지 알려주기

In [63]:
num=int(input())
if num%2==0 : 
    print('펭수 ')
else :
    print('워크맨')

10
펭수

In [65]:
for i in range(20, 31) :
    print(i)

20
21
22
23
24
25
26
27
28
29
30

In [74]:
sum=0
for i in range(20, 31) :
    if i%2!=0 :
        sum=sum+i
        print(i)
print('합계 :',sum)

21
23
25
27
29
합계 : 125

### [문제] 
- for, if 문제

In [75]:
for i in range(1, 101) :
    if i%3==0 :
        print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99