### DataFrame_Pandas

### Boolean

In [ ]:
True==True

In [ ]:
True==1

In [1]:
True==0

False

In [2]:
True=='1'

False

In [3]:
True!=0

True

In [4]:
True or False

True

In [5]:
1=='1'

False

In [6]:
False==0

True

In [14]:
eng='Korea covid=19'
eng

'Korea covid=19'

In [12]:
big=eng.upper()
big

'KOREA COVID=19'

In [16]:
small=eng.lower()
small

'korea covid=19'

In [17]:
eng

'Korea covid=19'

In [20]:
qwe='aBcDe'
qwe

'aBcDe'

In [23]:
huge=qwe.upper()
huge

'ABCDE'

In [25]:
tiny=qwe.lower()
tiny

'abcde'

In [47]:
list_data=[1,'2번째',3,4,100,5]
typle_data=(1,2,3,4,5)
dic_data={1:100,2:200,3:300,4:400,5:500}

In [33]:
type(list_data),type(typle_data),type(dic_data)

(list, tuple, dict)

In [36]:
list_data[0],list_data[1]

(1, '2번째')

In [40]:
list_data[:3]

[1, '2번째', 3]

In [41]:
list_data[3:]

[4, 5]

In [49]:
list_data[-1]='마지막'

In [51]:
list_data

[1, '2번째', 3, 4, 100, '마지막']

In [53]:
typle_data

(1, 2, 3, 4, 5)

In [55]:
typle_data[2]='가운데'

TypeError: 'tuple' object does not support item assignment

In [58]:
b=(1,2,3,'사','오')
c=1,2,3

In [120]:
type(b), type(c)

(tuple, tuple)

In [121]:
b=[3]=4

SyntaxError: can't assign to literal (<ipython-input-121-9244cf9b4474>, line 1)

In [122]:
b[3:],b[1:4]

(('사', '오'), (2, 3, '사'))

In [70]:
data=[]
data.append('java')

In [71]:
data.append('cobol')

In [72]:
data.append('c')

In [74]:
data.append('Python')

In [75]:
data

['java', 'cobol', 'c', 'Python', 'Python']

In [76]:
data[0], data[-1], data[1:], data[:2]

('java', 'Python', ['cobol', 'c', 'Python', 'Python'], ['java', 'cobol'])

In [116]:
data.sort()
data

['Python', 'Python', 'c', 'cobol', 'java']

In [123]:
data.reverse()
data

['Python', 'Python', 'c', 'cobol', 'java']

In [135]:
dic={100:'태민',200:'태환','이름':'원형',400:'영렬',500:'인선'}
dic

{100: '태민', 200: '태환', '이름': '원형', 400: '영렬', 500: '인선'}

In [137]:
dic[100],dic[200],dic['이름']

('태민', '태환', '원형')

In [139]:
dic.get('이름')

'원형'

In [141]:
dic.keys()

dict_keys([100, 200, '이름', 400, 500])

In [144]:
dic.values()

dict_values(['태민', '태환', '원형', '영렬', '인선'])

In [147]:
lunch={'햄버거','치킨','라면','콜라',10000}
dinner={'피자','족발','라면','콜라',10000}

In [149]:
lunch&dinner

{10000, '라면', '콜라'}

In [151]:
dinner | lunch

{10000, '라면', '족발', '치킨', '콜라', '피자', '햄버거'}

In [156]:
a=[1,2,3]
a

[1, 2, 3]

In [157]:
b=[4,5,6]
b

[4, 5, 6]

In [163]:
import pandas as pd
pd.DataFrame(data=dict(num=a,sum=b), index=['a','b','c'])

   num  sum
a    1    4
b    2    5
c    3    6

In [170]:
man=[
    {'num':1, 'sum':4},
    {'num':2, 'sum':5},
    {'num':3, 'sum':6}
]

In [172]:
pd.DataFrame(man)

   num  sum
0    1    4
1    2    5
2    3    6

In [176]:
person=[
    ['a',100,80],['b',17,60],['b',50,40],['d',90,80]
]
col_name=['name','국어','영어']
df=pd.DataFrame.from_records(person, columns=col_name, index=[1,2,3,4])
df[['국어','영어']]>70

      국어     영어
1   True   True
2  False  False
3  False  False
4   True   True

In [191]:
asd={
    '교시':['1교시','2교시','3교시','4교시','5교시'],
    'c':[10,10,10,10,10],
    'r':[10,10,10,10,10],
    'java':[10,10,10,10,10]
}

In [192]:
pd.DataFrame(asd)

    교시   c   r  java
0  1교시  10  10    10
1  2교시  10  10    10
2  3교시  10  10    10
3  4교시  10  10    10
4  5교시  10  10    10